/* En tête */

.header1
 {
    background-color: rgba(6, 83, 93, 0.856);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
}
.header1 img
{
    border-radius: 50%;
    width: 15%;
    height: 15%;

}
.header .presentation 
{
    padding: 40px;
}
.header .presentation h1 
{
    font-size: 4rem;
}
.header .presentation h2 
{
    font-size: 3rem;
}
.header .presentation h3 
{
    font-size: 2rem;
}
.header .presentation p 
{
    font-size: 1.4rem;
}

/*  Central */
span {
    position: absolute;
    background-color: black;
    width: 80px;
    height: 6px;
}
.central 
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: 10px;
}
.central h1 
{
    font-size: 2rem;
}

/*  Central gauche */

.div1 
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.div1 h2 
{
    margin-left: 10px;
}
.div2 
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.div2 h2 
{
    margin-left: 10px;
}

/* central droit */
.central_droit 
{
    background-color: rgba(62, 225, 225, 0.436);
    width: 1000px;
    padding: 0 50px;
}

li {
    margin-left: 30px;
}